@charset 'UTF-8';

$yellow:      #FAD32B;
$orange:      #FF613E;
$success:     #28b78d;
$off-white:   #f3f3f3;
$off-black:   #2A2A2A;
$off-black-2: #151515;
$white:       #ffffff;
$black:       #000000;
