html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: white;
  overflow-x: hidden;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

html {
  font: 400 16px "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 7vw;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 2vw;
}

span {
  font-size: 0.7rem;
}

.nav-bar a {
  font: 400 1rem "Montserrat", sans-serif;
}

.caption {
  color: #f3f3f3;
  text-align: center;
}

.caption span {
  font-weight: 400;
}

.caption h1 {
  margin-top: -0.2em;
}

.game-panel .title-box {
  text-align: center;
}

.game-panel .game-title {
  font: 600 1.8rem 'Roboto Condensed', sans-serif;
  letter-spacing: -0.1rem;
}

.game-panel .game-console {
  font: 400 0.7rem 'Roboto Condensed', sans-serif;
  color: #f3f3f3;
}

.game-panel svg {
  font-size: 1rem;
}

.game-panel .info {
  font-size: 0.8rem;
}

.game-panel .button-box {
  text-align: center;
}

.game-panel .button-box h2 {
  font: 600 0.8rem "Montserrat", sans-serif;
}

.game-panel .button-box h4 {
  font: 400 0.6rem "Montserrat", sans-serif;
}

.road-title h2 {
  font: 600 3rem 'Roboto Condensed';
  letter-spacing: -0.1rem;
  color: white;
  text-align: center;
  text-shadow: -2px 3px 0 #424242;
}

.icon-text h3 {
  font-weight: 900;
  font-size: 7vw;
}

.icon-text span {
  font-weight: 400;
  font-size: 4vw;
}

.nav-bar {
  padding: 20px 0;
  position: relative;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center ul {
  list-style-type: none;
}

.flex-center li {
  margin: 0 10px 0 5px;
  padding: 5px 10px;
  background: #2A2A2A;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.flex-center li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
          box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
}

.flex-center .logo {
  max-width: 25vw;
  margin-right: 10px;
}

.header-container {
  position: relative;
  background: url("../img/hero-image-2.jpg"), radial-gradient(1024.05px at 49.15% 33.39%, #FAD32B 0%, #FF613E 100%);
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light, normal;
}

.header-container:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -24.5vw;
  width: 150vw;
  height: 25vh;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 0;
}

.header-container .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.header-container .hero .caption {
  margin: 50px 0 100px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}

.road-container {
  position: relative;
  max-width: 350px;
  margin-top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.road-container #road-svg {
  -webkit-transform: scaleX(1.3);
          transform: scaleX(1.3);
}

.road-container .road-title {
  position: absolute;
  bottom: -12px;
  -webkit-transform: translateX(16%);
          transform: translateX(16%);
}

.info-container {
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  background: url("../img/02.png"), radial-gradient(700px at 50% 50%, #FAD32B 0%, #FF613E 180%);
  -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2), 0 4px 35px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2), 0 4px 35px rgba(0, 0, 0, 0.15);
  background-size: cover;
  background-position: top;
  background-blend-mode: soft-light, normal;
  color: #f3f3f3;
  padding: 50px 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.55);
  text-align: center;
}

.info-container:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.info-container div:not(.last-panel) {
  margin-bottom: 3.5rem;
}

.info-container .icon-box {
  margin: 20px 0 10px;
}

.info-container .icon {
  width: 50vw;
  max-width: 250px;
}

.info-container .icon-text {
  margin-top: 1rem;
}

#footer {
  padding: 40px 10px 5px;
}

#footer .media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .media-icons a {
  font-size: 2rem;
  color: #7a7a7a;
  margin: 0 10px;
  -webkit-transition: color 400ms ease-out;
  transition: color 400ms ease-out;
}

#footer .media-icons a:hover {
  color: #2a2a2a;
}

#footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 3px;
}

#footer .copyright h2 {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

#footer .copyright a {
  color: #7a7a7a;
  -webkit-transition: color 400ms ease-out;
  transition: color 400ms ease-out;
}

#footer .copyright a:hover {
  color: #2a2a2a;
}

#footer .copyright span {
  font-size: 0.6rem;
  color: #7a7a7a;
}

.game-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  background-color: #ffffff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2), 0 4px 35px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2), 0 4px 35px rgba(0, 0, 0, 0.15);
  line-height: 1.4;
  min-width: 250px;
  max-width: 450px;
  margin-bottom: 75px;
  position: relative;
  padding: 0.5rem 1rem;
  z-index: 2;
}

.game-panel:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.game-panel .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-panel .game-console {
  background-color: #2A2A2A;
  border-radius: 1rem;
  margin-left: 0.5rem;
  padding: 0.1rem 0.6rem;
}

.game-panel .panel-list {
  display: inline-block;
  margin: 20px 0;
}

.game-panel .panel-list svg {
  color: #28b78d;
}

.game-panel .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #000000;
  cursor: help;
}

.game-panel .tooltip:hover .tooltiptext {
  opacity: 1;
}

.game-panel .tooltiptext {
  width: 130px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: -100px;
  left: 110%;
  opacity: 0;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.game-panel .tooltiptext:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #000000 transparent transparent;
}

.game-panel .tooltiptext-nba {
  top: -25px;
}

.game-panel .tooltiptext-formula1 {
  top: -25px;
}

.game-panel .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.game-panel .button-box .bttn-learn {
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  margin-top: 5px;
  margin-left: 10px;
  color: #aaaaaa;
}

.game-panel .button-box .bttn-learn:hover {
  color: #2A2A2A;
}

#soccer-svg {
  position: absolute;
  top: -2.7rem;
  left: -3.6rem;
  width: 9rem;
}

#nba-svg {
  position: absolute;
  top: -2.3rem;
  left: -2rem;
  width: 5rem;
}

#formula1-svg {
  position: absolute;
  top: -8.1rem;
  left: 2.5rem;
  width: 9rem;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.features-container h2, .features-container h4 {
  font-family: 'Montserrat', sans-serif;
}

.mockup-scene {
  max-width: 100vw;
}

#desktop-image {
  margin: 100px 0;
}

#mobile-image {
  margin: 50px 0;
}

.features-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  position: relative;
  max-width: 500px;
  border-radius: 15px;
  padding: 30px 20px 40px;
  text-align: center;
  background: radial-gradient(700px at 62.78% 44.68%, #FAD32B 0%, #FF613E 100%);
  background-blend-mode: normal;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.15), 0px 8px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.15), 0px 8px 18px rgba(0, 0, 0, 0.15);
}

.features-box:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.features-box .icon-box {
  margin: 10px 0;
}

.features-box .icon {
  width: 200px;
}

.features-box .icon-text {
  margin: 20px 0;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}

.features-box p {
  margin-bottom: 10px;
  font-size: 1.4em;
}

.features-box span {
  font-size: 0.8em;
}

.features-box h4 {
  position: absolute;
  top: -48px;
  font-size: 1.2rem;
  color: #2A2A2A;
}

.features-box h2 {
  position: absolute;
  top: -29px;
  font-size: 2rem;
  color: #151515;
  text-shadow: -2px 2px 0px white;
}

.features-box svg {
  width: 115px;
}

.features-box #cta {
  position: absolute;
  bottom: -20px;
}

.features-box #cta .btn-box {
  padding: 10px 20px;
  background: #28b78d;
  border-radius: 5px;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.features-box #cta .btn-box:hover {
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.features-box #cta .btn-box .btn-cta {
  color: #f3f3f3;
  font: 600 1.3em 'Roboto Condensed', sans-serif;
}

.features-box #cta .btn-container {
  position: absolute;
  bottom: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-box .btn-container {
  position: absolute;
  bottom: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-box #app .icon {
  width: 30px;
}

.features-box #app h5 {
  font-weight: 400;
  font-size: 0.6rem;
}

.features-box #app span {
  font-weight: 600;
  font-size: 1rem;
}

.features-box #app #btn-android {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2A2A2A;
  margin-right: 10px;
}

.features-box #app #btn-iphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2A2A2A;
}

.features-box #app .btn-box {
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.features-box #app .btn-box:hover {
  -webkit-transform: scale(1.1) translateY(-5px);
          transform: scale(1.1) translateY(-5px);
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.features-box #app .btn-cta {
  color: #f3f3f3;
  font: 600 1.3em 'Roboto Condensed', sans-serif;
}

.features-box #app .btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  width: 100%;
  padding: 50px 0;
  margin-top: 150px;
  position: relative;
  background: url("../img/02.png"), radial-gradient(700px at 50% 50%, #FAD32B 0%, #FF613E 180%);
  -webkit-box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1), 0 4px 35px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1), 0 4px 35px rgba(0, 0, 0, 0.15);
  background-size: cover;
  background-position: bottom;
  background-blend-mode: soft-light, normal;
}

.partners-container:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.partners-container .icon {
  width: 100%;
}

.partners-title {
  position: absolute;
  top: -45px;
  text-shadow: -2px 2px 0px #fff;
}

.partners-title h2 {
  font-size: 3rem;
  color: #151515;
}

.partners-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  justify-items: center;
  width: 200px;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.15), 0px 4px 18px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.15), 0px 4px 18px rgba(0, 0, 0, 0.2);
}

.partners-box:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.partners-box .icon-box {
  margin: 20px 0;
}

.partners-box .icon-box .icon {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.partners-box .icon-box .icon:hover {
  -webkit-filter: none;
          filter: none;
}

@media only screen and (min-width: 600px) {
  .game-panel .button-box h2 {
    font-size: 1rem;
  }
  .info-container .icon-text h3 {
    font-size: 2.63em;
  }
  .info-container .icon-text span {
    font-size: 1.85em;
  }
}

@media only screen and (max-width: 610px) {
  .flex-center li {
    padding: 1px 10px;
  }
  .nav-bar a {
    font: 600 0.7em "Montserrat", sans-serif;
    line-height: 2;
  }
  .caption h1 {
    font-size: 2.64em;
  }
  .caption h6 {
    font-size: 0.755em;
  }
  .game-panel .tooltiptext {
    left: -30%;
    top: -220px;
  }
  .game-panel .tooltiptext:after {
    top: 102%;
    left: 50%;
    margin-left: -5px;
    border-color: #000000 transparent transparent transparent;
  }
  .game-panel .tooltiptext-nba {
    top: -70px;
  }
  .game-panel .tooltiptext-nba:after {
    top: 107%;
  }
  .game-panel .tooltiptext-formula1 {
    top: -70px;
  }
  .game-panel .tooltiptext-formula1:after {
    top: 107%;
  }
  .road-container .road-title {
    bottom: -0.8em;
  }
  .partners-title {
    top: -37px;
  }
  .partners-title h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 410px) {
  .caption h1 {
    font-size: 2em;
  }
  .caption h6 {
    font-size: 0.6em;
  }
  .road-container .road-title {
    bottom: -0.8em;
    -webkit-transform: translateX(17vw);
            transform: translateX(17vw);
  }
  .road-container .road-title h2 {
    font-size: 2.5em;
  }
  .features-box h2 {
    font-size: 1.8rem;
    top: -26px;
  }
  .partners-title {
    top: -28px;
  }
  .partners-title h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .header-container .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 100px;
    margin: 0 70px;
  }
  .game-panel {
    padding: 0.5rem 2rem;
  }
  .game-panel .info {
    font-size: 0.8rem;
  }
  .caption {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .caption h1 {
    font-size: 5.28em;
  }
  .caption h6 {
    font-size: 1.51em;
  }
  .info-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    background-position: center;
  }
  .info-container div:not(.last-panel) {
    margin-bottom: 0;
  }
  .info-container .icon-box {
    margin: 0;
  }
  .icon-box .icon {
    max-height: 180px;
  }
  .icon-box .icon-text {
    margin: 10px 0 0;
  }
  .icon-box .icon-text h3 {
    font-size: 2em;
  }
  .icon-box .icon-text span {
    font-size: 1.4em;
  }
  .features-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: center;
  }
  .mockup-scene {
    max-width: 50vw;
  }
  .features-box {
    margin: 100px 0;
  }
  .partners-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: auto;
  }
  .partners-box .icon {
    width: auto;
    margin: 10px 25px;
    max-height: 114px;
  }
  .partners-box .icon-portrait {
    max-width: 150px;
  }
  .partners-box .icon-landscape {
    max-width: 179px;
  }
}

@media only screen and (min-width: 1600px) {
  .header-container .hero {
    grid-gap: 70px;
    margin: 0 70px;
  }
  .game-panel {
    padding: 1rem 2rem;
  }
  .game-panel .info {
    font-size: 1.2rem;
  }
  #soccer-svg {
    top: -3.3rem;
    left: -5.8rem;
    width: 13rem;
  }
  #nba-svg {
    top: -4rem;
    left: -3.5rem;
    width: 7rem;
  }
  #formula1-svg {
    top: -8.1rem;
    left: 2.5rem;
    width: 9rem;
  }
}
/*# sourceMappingURL=main.css.map */